<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>Accueil</servlet-name>
        <servlet-class>com.projetvideo.controlleur.Accueil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Connexion</servlet-name>
        <servlet-class>com.projetvideo.controlleur.Connexion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Pannier</servlet-name>
        <servlet-class>com.projetvideo.controlleur.Pannier</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Inscription</servlet-name>
        <servlet-class>com.projetvideo.controlleur.Inscription</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Film</servlet-name>
        <servlet-class>com.projetvideo.controlleur.Film</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Categorie</servlet-name>
        <servlet-class>com.projetvideo.controlleur.Categorie</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Accueil</servlet-name>
        <url-pattern>/Accueil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Connexion</servlet-name>
        <url-pattern>/Connexion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Pannier</servlet-name>
        <url-pattern>/Pannier</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Inscription</servlet-name>
        <url-pattern>/Inscription</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Film</servlet-name>
        <url-pattern>/Film</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Categorie</servlet-name>
        <url-pattern>/Categorie</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Accueil</welcome-file>
    </welcome-file-list>
</web-app>
